*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: grid;
  place-items: center;

  width: 100%;
  max-width: 100%;

  height: min-content;
  max-height: 100%;

  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  display: block;
}
